body{
 --hig: hsl(25, 100%, 93%);
}   

.state label[for^="state"]:before, .header .PR:before {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(/css/sprite.svg);
  width: 1em;
  min-width: 1em;
  height: 1em;
  line-height: normal;
  font-size: 18px;
  vertical-align: middle;
  background-size:cover;
  content: "";
  margin-right: 2px;    
}

.Open:before {
    background-position: -78em 0;
}
[title='To Do']::before {
    background-position: -77em 0;
}
.Closed:before {
    background-position: -38em 0;
}
.Done:before {
    background-position: -38em 0;
}
.Reopened:before {
    background-position: -62em 0;
}
.Invalid:before {
    background-position: -81em 0;
}
.Committed:before, [title='Fix Committed']:before {
    background-position: -8em 0;  
}
.Verified:before, [title='Fix Verified']:before {
    background-position: -79em 0;  
}

[title='Won\27t Fix']:before {
    background-position: -80em 0;  
}
.Ready:before, [title='Fix Ready']:before {
    background-position: -5em 0;  
}
[title='Feature Ready']:before {
    background-position: -50em 0;  
}
.Progress:before, [title='In Progress']:before {
    background-position: -76em 0;  
}

.advisory-candidate:before {
    background-position: -13em 0;  
}
.closed-not-vulnerable:before {
    background-position: -58em 0;  
}
.closed-no-advisory:before {
    background-position: -82em 0;  
}
.analyzed-fix-needed:before {
    background-position: -76em 0;  
}
.analyzed-fix-forward:before {
    background-position: -90em 0;  
}

/*.bug:before, */
.header .PR:before {
     background-position: -10em 0;   
}
 .modification:before {
     background-position: -18em 0;
}
.feature:before {
     background-position: -50em 0;
}
.sustaining:before {
     background-position: -71em 0;
}
 .npi:before {
     background-position: -19em 0;
}
.Yes:before {
     background-position: -87em 0;
    opacity: 0.5;
}
.No:before {
     background-position: -80em 0;    
}
.unsure:before {
     background-position: -81em 0;    
}

 td.cve, td.state, td.IR, td.bundle {
    white-space: nowrap;
    font-size: small;
}

td.type .bug:before {
    font-size: 11px;
}
td.type .bug {
    font-size: 0px;
}

td.IR {
    font-family: "Arial Narrow";
}

.compactTable:checked + table td.scopes .icn{
    width: 1.8em;
    font-size: 8px;
    align-content: center;
    white-space: nowrap;
}

.P0:before {
    background-position: -130em 0;
}
.P1:before {
    background-position: -131em 0;
}
.P2:before {
    background-position: -132em 0;
}
.P3:before {
    background-position: -133em 0;
}

